{% extends 'base.html' %}
{% load static %}
{% block content %}

<aside class="right-side">                
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detail du client 
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Client</a></li>
        </ol>
    </section>



    <!-- Main content -->
    <section class="content invoice">                    
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-user"></i> {{clients.nom}} {{clients.prenom}} 
                    <small class="pull-right">Date de creation : 2/10/2014</small>
                </h2>                            
            </div><!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                
                <address>

                    <h2>Information </h2>
                    <p>Nom: <strong>{{ cni.nom }}</strong></p>
                    <p>Postnom: <strong>{{ cni.postnom }}</strong></p>
                    <p>Prénom: <strong>{{ cni.prenom }}</strong></p>
               
                    <p>Date de naissance: <strong>10/05/1986</strong></p>
                    <p>Adresse: <strong>{{ cni.address }}</strong></p>
                    <p>Téléphone: <strong>{{ cni.telephone }}</strong></p>

                </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
            
                <address>
                    <h2></h2><br>
                    <p>Activite : <strong>{{clients.activite}}</strong></p>
                    <p>Agence :<strong>{{clients.agence}}</strong></p>
                    <p>Commune :<strong>{{clients.commune}}</strong></p>
                    <p>quartier : <strong>{{clients.quartier}}</strong></p>
                 
                </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
        
                <br/>
                <b>Payment :</b> 2/22/2014<br/>
                <b>Numero de compte :</b> 968-34567
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <button class="btn btn-success pull-left no-print" data-toggle="modal" data-target="#dataModalcard" data-id="{{ client.id }}" data-operation="depot" style="margin-right: 5px;">
                    <i class="fa fa-plus-circle"></i> Dépôt
                </button>  
                <button class="btn btn-warning pull-left no-print" data-toggle="modal" data-target="#dataModalcard" data-id="{{ client.id }}" data-operation="retrait" style="margin-right: 5px;">
                    <i class="fa fa-minus-circle"></i> Retrait
                </button> 
                <a href="#" class="btn btn-warning " title="Modifier" data-toggle="modal" data-target="#dataModal" data-id="{{ client.id }}">
                    <i class="fa fa-edit"></i> Modifier
                </a>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Numero compte</th>
                            <th>Montant</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>                                    
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td> 
                            <td>455-981-221</td>
                            <td>$100.00</td>
                            <td>El snort testosterone trophy driving gloves handsome</td>
                            <td>
                                <a href="#" class="btn btn-warning btn-sm no-print" title="Modifier" data-toggle="modal" data-target="#dataModal" data-id="{{ client.id }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#" class="btn btn-danger btn-sm no-print" title="Supprimer" data-toggle="modal" data-target="#confirmDeleteModal" data-id="{{ client.id }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>247-925-726</td>
                            <td>$50.00</td>
                            <td>Wes Anderson umami biodiesel</td>
                            <td>$50.00</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>735-845-642</td>
                            <td>$200.00</td>
                            <td>Terry Richardson helvetica tousled street art master</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>422-568-642</td>
                            <td>$500.00</td>
                            <td>Tousled lomo letterpress</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>                            
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Payment Methods:</p>
                <img src="../../img/credit/visa.png" alt="Visa"/>
                <img src="../../img/credit/mastercard.png" alt="Mastercard"/>
                <img src="../../img/credit/american-express.png" alt="American Express"/>
                <img src="../../img/credit/paypal2.png" alt="Paypal"/>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                </p>
            </div><!-- /.col -->
            <div class="col-xs-6">
                <p class="lead">Amount Due 2/22/2014</p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>$250.30</td>
                        </tr>
                        <tr>
                            <th>Tax (9.3%)</th>
                            <td>$10.34</td>
                        </tr>
                        <tr>
                            <th>Shipping:</th>
                            <td>$5.80</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>$265.24</td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>  
                <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->


<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dataModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="dataForm" method="post"  action="">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="box box-warning">
                            <div class="box-body">
                            
                                    <div class="form-group row">
                                        {% for field in form %}
                                            <div class="col-sm-6">
                                               
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {% if field.help_text %}
                                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                                        {% endif %}
                                                        {% for error in field.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                {{ error }}
                                                            </div>
                                                        {% endfor %}
                                                  
                                            </div>
                                            {% if forloop.counter|divisibleby:2 %}
                                                </div><div class="form-group row">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                  
                        
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalTitle">Confirmer la suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet élément ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Supprimer</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dataModalcard" tabindex="-1" role="dialog" aria-labelledby="dataModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dataModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="dataForm" method="post"  action="">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="box box-warning">
                            <div class="box-body">
                            
                                    <div class="form-group row">
                                        {% for field in cardForm %}
                                            <div class="col-sm-6">
                                               
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {% if field.help_text %}
                                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                                        {% endif %}
                                                        {% for error in field.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                {{ error }}
                                                            </div>
                                                        {% endfor %}
                                                  
                                            </div>
                                            {% if forloop.counter|divisibleby:2 %}
                                                </div><div class="form-group row">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                  
                        
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <!-- page script -->
  <script type="text/javascript">
    $(function() {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>

<script>
    var dataForm = $('#dataForm');
    var dataModalTitle = $('#dataModalTitle');
    var editCNISubmitButton = $('#editCNISubmitButton');

    $(document).ready(function() {
        $('#dataModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var dataId = button.data('id');
            console.log('Identifiant de la CNI : ', dataId);

            // Remplacer le titre du modal en fonction de l'action (création ou modification)
            if (dataId) {
                dataModalTitle.text("Modifier les informations du client");
                dataForm.attr('action', `/update_client/${dataId}/`);
            } else {
                dataModalTitle.text("Ajouter un nouveau client");
                dataForm.attr('action', '/create_client/');
            }

            if (dataId) {
                // Si l'ID de la CNI est fourni, remplir le formulaire avec ses données
                fetch(`/edit_client/${dataId}/`)
                    .then(response => response.json())
                    .then(data => {

                        console.log('CNI  : ', data);
                        for (var key in data) {
                            if (data.hasOwnProperty(key)) {
                                // Trouver l'élément du formulaire correspondant au champ et lui attribuer la valeur
                                $('#dataForm input[name="' + key + '"]').val(data[key]);
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Erreur lors de la récupération des données de client : ', error);
                    });
            } else {
                // Si aucun ID de CNI n'est fourni, vider le formulaire
                dataForm.trigger('reset');
            }
        });
    });
</script>

<script>
      var dataForm = $('#dataForm');
    var dataModalTitle = $('#dataModalTitle');
    var editCNISubmitButton = $('#editCNISubmitButton');

    $(document).ready(function() {
        $('#dataModalcard').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Bouton qui a déclenché le modal
            var dataId = button.data('id');
            var operation = button.data('operation'); // Récupérer l'opération (dépôt ou retrait)
            console.log(operation)
            // Configurer le titre et l'action du formulaire en fonction de l'opération
            if (operation === 'depot') {
                dataModalTitle.text("Ajouter un dépôt");
                console.log(dataModalTitle)
                dataForm.attr('action', `/create_depot/${dataId}/`);
            } else if (operation === 'retrait') {
                console.log("yyyyyyyyyyyyyyyyyyyy")
                dataModalTitle.text("Effectuer un retrait");
                dataForm.attr('action', `/create_retrait/${dataId}/`);
            }

            // Remplir le formulaire si nécessaire
            if (dataId) {
                fetch(`/get_client_data/${dataId}/`)
                    .then(response => response.json())
                    .then(data => {
                        for (var key in data) {
                            if (data.hasOwnProperty(key)) {
                                $('#dataForm input[name="' + key + '"]').val(data[key]);
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Erreur lors de la récupération des données : ', error);
                    });
            } else {
                dataForm.trigger('reset');
            }
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#confirmDeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var dataId = button.data('id');
            $('#confirmDeleteButton').attr('data-id', dataId); // Stocker l'ID dans le bouton de confirmation
        });

        $('#confirmDeleteButton').click(function() {
            var dataId = $(this).attr('data-id');
            // Envoyer la demande de suppression à l'aide de l'identifiant stocké
            window.location.href = '/delete_client/' + dataId + '/';
        });
    });
</script>




{% endblock %}
