{% extends 'base.html' %}
{% load static %}
{% block content %}

<aside class="right-side"> 
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCommissariatModal">
                    Ajouter une carte
                </button>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Liste des cartes</h3>                                    
                    </div>
                    <div class="box-body table-responsive">
                       
                      

                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>


  <!-- page script -->
  <script type="text/javascript">
    $(function() {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>



<!-- AdminLTE App -->

{% endblock %}
