{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- Ajoutez le formulaire de création d'agence dans la page show_agences.html -->
<aside class="right-side"> 
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dataModal">
                    Ajouter un agent
                </button>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Liste des agents</h3>                                    
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Sexe</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>address</th>
                                    <th>Poste</th>
                                    <th>Agence</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in personnels %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ data.nom }}</td>
                                        <td>{{ data.prenom }}</td>
                                        <td>{{ data.sexe }}</td>
                                        <td>{{ data.email }}</td>
                                        <td>{{ data.telephone }}</td> 
                                        <td>{{ data.address }}</td> 
                                        <td>{{ data.user_type }}</td> 
                                        <td>{{ data.agence.nom }}</td>

                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm" title="Détail" data-toggle="modal" data-target="#dataModal" data-id="{{ data.id }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn btn-warning btn-sm" title="Edit" data-toggle="modal" data-target="#editPersonneleeModal" data-id="{{ data.id }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger btn-sm" title="Supprimer" data-toggle="modal" data-target="#confirmDeleteModal" data-id="{{ data.id }}">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAgentModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editAgenceForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="box box-warning">
                        <div class="box-body">
                            <br>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    {{ form.nom.label_tag }}
                                    {{ form.nom }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.prenom.label_tag }}
                                    {{ form.prenom }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.telephone.label_tag }}
                                    {{ form.telephone }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    {{ form.date_naissance.label_tag }}
                                    {{ form.date_naissance }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.lieu_naissance.label_tag }}
                                    {{ form.lieu_naissance }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    {{ form.user_type.label_tag }}
                                    {{ form.user_type }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.sexe.label_tag }}
                                    {{ form.sexe }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    {{ form.profile_pic.label_tag }}
                                    {{ form.profile_pic }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.address.label_tag }}
                                    {{ form.address }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    {{ form.agence.label_tag }}
                                    {{ form.agence }}
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
            
        </div>
    </div>
</div>


<div class="modal fade" id="editPersonneleeModal" tabindex="-1" role="dialog" aria-labelledby="editAgenceModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAgenceModalTitle">Éditer l'Agence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editAgenceForm" method="post"  action="">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Champs de formulaire pour la mise à jour de l'agence -->
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalTitle">Confirmer la suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet élément ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Script JavaScript pour traiter les événements des modals -->
<script type="text/javascript">
    $(function() {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>


<script>
    var dataForm = $('#dataForm');
    var dataModalTitle = $('#dataModalTitle');
    var editCommissariatSubmitButton = $('#editCommissariatSubmitButton');

    $(document).ready(function() {
        $('#dataModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var dataId = button.data('id');
            console.log('Identifiant de l\'agennt : ', dataId);

            // Remplacer le titre du modal en fonction de l'action (création ou modification)
            if (dataId) {
                dataModalTitle.text("Éditer le personnel");
                dataForm.attr('action', `/update_personnel/${dataId}/`);
            } else {
                dataModalTitle.text("Créer un nouvel emplacement");
                dataForm.attr('action', '/create_personnel/');
            }

            if (dataId) {
                // Si l'ID de l'emplacement est fourni, remplir le formulaire avec ses données
                fetch(`/edit_personnel/${dataId}/`)
                    .then(response => response.json())
                    .then(data => {

                        console.log('emplacement  : ', data);
                        for (var key in data) {
                            if (data.hasOwnProperty(key)) {
                                // Trouver l'élément du formulaire correspondant au champ et lui attribuer la valeur
                                $('#dataForm input[name="' + key + '"]').val(data[key]);
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Erreur lors de la récupération des données de l\'emplacement : ', error);
                    });
            } else {
                // Si aucun ID d'emplacement n'est fourni, vider le formulaire
                dataForm.trigger('reset');
            }
        });
    });
</script>


<script>
   
    // Lorsque le modal de suppression est sur le point d'être montré
    $(document).ready(function() {
        $('#confirmDeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var dataId = button.data('id');
            // Stocker l'ID dans le bouton de confirmation
            $('#confirmDeleteButton').attr('data-id', dataId);
        });

        // Lorsque le bouton de confirmation de suppression est cliqué
        $('#confirmDeleteButton').click(function() {
            var dataId = $(this).attr('data-id');
            // Envoyer la demande de suppression à l'aide de l'identifiant stocké
            window.location.href = '/delete_personnel/' + dataId + '/';
        });
    });
</script>

<script>
    $(document).ready(function() {
        var editAgenceForm = $('#editAgenceForm');

        $('#editPersonneleeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var personneleId = button.data('id');
            console.log('Identifiant de l\'agence : ', personneleId);

            // Mettre à jour l'action du formulaire avec l'ID de l'agence
            editAgenceForm.attr('action', `/update_agence/${personneleId}/`);

            // Appeler la vue Django pour récupérer les données de l'agence
            fetch(`/edit_personnel/${personneleId}/`)
                .then(response => response.json())
                .then(data => {
                    console.log('Données de personnele : ', data);

                    // Remplir les champs du formulaire avec les données de l'agence
                    $('#editAgenceForm input[name="nom"]').val(data.nom);
                    $('#editAgenceForm input[name="prenom"]').val(data.prenom);
                    $('#editAgenceForm input[name="email"]').val(data.email);
                    $('#editAgenceForm input[name="telephone"]').val(data.telephone);
                    $('#editAgenceForm input[name="date_naissance"]').val(data.date_naissance);
                    $('#editAgenceForm input[name="lieu_naissance"]').val(data.lieu_naissance);
                    $('#editAgenceForm select[name="user_type"]').val(data.user_type);
                    $('#editAgenceForm select[name="sexe"]').val(data.sexe);
                    $('#editAgenceForm input[name="address"]').val(data.address);
                    $('#editAgenceForm select[name="agence"]').val(data.agence);
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération des données de l\'agence : ', error);
                });
        });
    });
</script>



{% endblock %}
